body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
}
.myhead{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    /* padding-left: 130px; */
}
.orange{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
    /* padding-right: 50px; */
}
nav li{
    margin-right: 50px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn{
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: 700;
    border: 0px;
    padding: 15px 35px;
}
.head{
    background-color: #FFF8F3;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner{
    padding: 30px 30px 0px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imo{
    width: 550px;
}
.wel{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}
.come{
    font-size: 50px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 3px;
}
.about{
    font-size: 20px;
    
    color: #665f5f;
}
.bannerto{
    width: 500px;
}

/* main section */

.fastsec{
    /* text-align: center; */
    background-color: #FFF8F3;
    /* margin-left: 180px; */
    /* margin-right: 180px; */
    /* margin-top: 100px; */
    height: 470px;
    max-width: 1140px;
    margin:  auto;
    margin-top: 130px;
}
.into{
    padding-top: 80px;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.para{
    text-align: center;
    color: #696262;
    line-height: 30px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    padding: 20px 30px  ;
}
.helo{
    text-align: center;
    color: #635c5c;
}
#doit{
    padding: 30px 250px;
}